<h1>Vprasanja:</h1>
{{#each question}}
<br />
<hr />
<br />
<h2>Naslov: {{name}} </h2>
Opis: <span>{{description}}</span>
<br />
<br />
Objavil: <span>{{postedBy.username}}</span>
<br />
Datum: <span>{{date}}</span>
<br />
Oznake: <span>{{tags}}</span>
<br />
<h3>Odgovori:</h3>
{{#each comments}}
{{#if ../hasAnswer}}
{{#if answer}}
<b>{{postedBy.username}}: {{content}}</b>
{{else}}
<span>{{postedBy.username}}: {{content}}</span>
{{/if}}
<br />
{{else}}
<form action="/questions/accept" method="post">
    <input type="hidden" name="question_id" value={{../_id}}>
    <input type="hidden" name="comment_id" value={{_id}}>
    <span>{{postedBy.username}}: {{content}}</span>
    <br />
    <input type="submit" value="ACCEPT">
</form>
{{/if}}
{{/each}}
{{/each}}
